#!/bin/bash
cd /usr/src/haproxy-{{ pillar['haproxy_version'] }}
make -j $(nproc) TARGET=linux-glibc \
USE_OPENSSL=1 USE_PCRE=1 USE_SYSTEMD=1 && \
make install PREFIX={{ pillar['haproxy_installdir'] }}
